<html>
  <head>
        <link rel="Stylesheet" href="cute_puppies.css" title:"CSS" type="text/css" />
    <title>Personal Site 2</title>
  </head>
  <body>
    <h1>So cute!!</h1>
    <img src="http://1.bp.blogspot.com/-1FJeidz0oUk/U0Q5uyQHJVI/AAAAAAAAByY/3h7PKtCh1X8/s1600/Bulldog+Puppy.jpg" alt="bulldog puppy">
    <img src="http://brandedpuppies.com/mt-content/uploads/2017/11/bb2.jpg" alt="beagle puppy">
    <img src="https://i.redd.it/1iokez0ck5121.jpg" alt="st. bernard puppy">
    <img src="https://i.pinimg.com/originals/63/0f/0e/630f0ef3f6f3126ca11f19f4a9b85243.jpg" alt="wiener dog puppy">
    <img src="https://www.sunnyskyz.com/uploads/2017/11/mm0d2-puppy-sad-face-2.jpg" alt="shiba inu puppy">
    <img src="https://images1.americanlisted.com/nlarge/cute-french-bulldog-puppies-for-sale-americanlisted_32368873.jpg" alt="french bulldog puppy">
  </body>
  <a href="/">Home</a>
</html>
